{% load static %} 
<!DOCTYPE html>
<html>
	<head>
		<title>My Biographi</title>
		<link rel="stylesheet" type="text/css" href= "{% static 'Test.css' %}">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" rel="stylesheet">
	</head>
	<body id = "bodi">
		<div id="navbar">
			<div class="toggle">
				<i class="fa fa-bars menu" aria-hidden="true"></i>
			</div>
			<ul id="navbar2">	
				<li><a href="#gambar">Home</a></li>	
				<li><a href="#data-diri">Profil</a></li>
				<li><a href="#keahlian">Ability</a></li>
				<li><a href="#hobi">My Hobby</a></li>
				<li><a href="#medsos">Contact</a></li>
			</ul>	
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script type="text/javascript">
			$(document).ready(function()
			{
				$(".menu").click(function()
				{
					$("ul#navbar2").toggleClass("active");
				})
			})
		</script>
		
		<div id = "gambar">
			<img id = "foto-sean" src="{% static 'Sean2.jpg' %}" alt="Sean"/>
			<div class="text">
				<strong>SEAN ZELIQ URIAN</strong>
			</div>
		</div>


		<div id="data-diri">
			<div class = "judul">
				<h1>PROFIL</h1>
			</div>
			<ul class="display-block">
				<li><i class="fas fa-user-alt"></i><br> SEAN ZELIQ URIAN<br>(SEAN)</li>
				<li><i class="fas fa-birthday-cake"></i><br>BANDUNG <br>8 AUGUST 2001</li>
				<li><i class="fas fa-mars"></i><br>MALE<br><br></li>
				<li><i class="fas fa-home"></i><br>SOUTH OF <br>TENGERANG</li>
			</ul>
		</div>


		<div id="keahlian">
			<div class = "judul">
				<h1>ABILITY</h1>
			</div>
			<ul class="display-block">
				<li><i class="fab fa-python"></i><br>CODING</li>
				<li><i class="fas fa-bed"></i></i><br>SLEEP ANYWHERE AND ANYTIME</li>
				<li><i class="fas fa-utensils"></i><br>EAT UNDER 10 MINUTE<br><br></li>
				<li><i class="fas fa-cookie-bite"></i><br>CAN SURVIVE FOR 2 DAYS BY JUST EAT INDOMIE</li>
			</ul>
		
		</div>


		<div id="hobi">
			<div class = "judul">
				<h1>HOBBY</h1>
			</div>
			<ul class="display-block">
				<li><i class="fas fa-utensils"></i><br>EAT</li>
				<li><i class="fas fa-praying-hands"></i><br>PRAY</li>
				<li><i class="fab fa-js-square"></i><br>CODING<br><br></li>
				<li><i class="fas fa-heart"></i><br>LOVE</li>
			</ul>
		</div>


		<div id="medsos">
			<div id = "judul-medsos">
				<h1>CONTACT ME:</h1>
			</div>
			<ul id ="display-medsos">
				<li><a href="https://www.instagram.com/hedass/?hl=id"><i class="a fab fa-instagram"></i></a></li>
				<li><a href="mailto: seanurian@gmail.com"><i class="a fas fa-envelope"></i></a></li>
				<li><a href="http://line.me/ti/p/~seanurian2"><i class="a fab fa-line"></i></a></li>
				<li><a href="mailto: sean.zeliq@ui.ac.id"><img width="27px" height="27px" id = "UI" src="{% static 'logo UI.png' %}"></a></li>
			</ul>
		</div>
		<script type="text/javascript">document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});</script>
	</body>
</html>