{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'http://fonts.googleapis.com/css?family=Oleo+Script' %}" rel='stylesheet' type='text/css'>
    <title>Profil Saya</title>
</head>
<body>

    <div id="navbar">
        <a href="#home" id="logo">BIOGRAPHY</a> 
        <div id="navbar-right">
            <a class="active" href="#home">Home</a>
            <a href="#biodata">Biodata</a>
            <a href="#kontak">Contact</a>
        </div>
    </div>
    <div id='home' class='header'>

        <div id='backgroundfoto'>
            <img src="{% static 'Sean2.jpg' %}" alt="">
        </div>
    
        <ul class='DataSingkat'>
            <li><h1>SEAN ZELIQ URIAN</h1></li>
            <li><h2>1806141454</h2></li>
            <li><p>Haloo!! nama saya Sean, saya merupakan seorang mahasiswa Fakultas Ilmu Komputer Angkatan 2018. <br> Sedang mencoba menggeluti passion baru sebagai seorang programer. <br>  Saya tertarik dengan Mobile App Development.</p></li>
        </ul>
    </div>
    <div id='biodata' class='main'>
        <!-- <H1 class="centered">DATA DIRI</H1> -->
        <table>
            <tr>
                <th colspan="3"><H1 class="centered">DATA DIRI</H1></th>
            </tr>
            <tr>
                <td><h1>Nama Lengkap</h1></td>
                <td class="pemisah"><h1>:</h1></td>
                <td><h1>Sean Zeliq Urian</h1></td>
            </tr>
            <tr>
                <td><h1>Nama Panggilan</h1></td>
                <td class="pemisah"><h1>:</h1></td>
                <td><h1>Sean</h1></td>
            </tr>
            <tr>
                <td><h1>Nomor Pokok Mahasiswa</h1></td>
                <td class="pemisah"><h1>:</h1></td>
                <td><h1>1806141454</h1></td>
            </tr>
            <tr>
                <td><h1>Angkatan</h1></td>
                <td class="pemisah"><h1>:</h1></td>
                <td><h1>Fasilkom 2018</h1></td>
            </tr>
            <tr>
                <td><h1>Hobi</h1></td>
                <td class="pemisah"><h1>:</h1></td>
                <td><h1>Meluangkan Waktu Luang</h1></td>
            </tr>
        </table>
    </div>
    <div id="kontak" class='contact'>
        <h1 class="centered">Kontak Saya</h1>
        <a href="http://line.me/ti/p/~seanurian2" target="_blank">Line</a>
        <a href="https://www.instagram.com/hedass/?hl=id" target="_blank">Instagram</a>
        <a href="mailto: seanurian@gmail.com">Email</a>
    </div>
    <div class='footer'>
        <small> Copyright &copy; 2019 Sean Zeliq Urian.</small>
    </div>
    
    
    <script>
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 70 || document.documentElement.scrollTop > 70) {
                document.getElementById("navbar").style.padding = "20px 10px";
                document.getElementById("logo").style.fontSize = "25px";
              } else {
                document.getElementById("navbar").style.padding = "60px 10px";
                document.getElementById("logo").style.fontSize = "35px";
              }
            }
            </script>
            <script type="text/javascript">document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
            
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
            </script>
</body>
</html