html {
    margin: 0;
    padding: 0;
}
body { 
  margin: 0;
  margin-top: 92px;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: 0;
}

/* Start NavBar */
#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 60px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 18px 12px 18px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
/* End Navbar */

/* Body Start */

.header {
  background-color: aquamarine;
  padding: 140px 100px 155px 100px;
  
}

/*
  Foto
  Mulai
*/

#backgroundfoto {
  background: rgb(70, 74, 74, 0.6);
  display: inline-block;
  width: 300px;
  margin-left: 3%;
  padding: 50px 50px;
  border-radius: 15px;
}

.header img {
  border-radius: 25%;
  max-height: 350px;
  max-width: 270px;
  margin-left: 7%;
  vertical-align: middle;
}

/*
  Foto
  Akhir
*/

/* 
  Data Singkat
  Mulai
*/
.header li {
  list-style-type: none;
  margin: 0;
}

.header ul {
  background: rgb(70, 74, 74, 0.6);
  padding: 130px 50px;
  border-radius: 15px;
  text-align: justify;
 
}

.header ul li h1 {
  display: inline;
  border-bottom: 3px solid;
  
}

.header ul li h2 {
  display: inline;
}

.header ul li p {
  width: 90%;
  /* font-size: 15px; */
}

.DataSingkat {
  display: inline-block;
  width: 600px;
  vertical-align: middle;
  margin-left: 3%;
}

.header ul li p br {
  display: block; 
  content: "";
  margin-top: 10px;
}

/* 
  Data Singkat
  Akhir
*/




.main {
  padding: 150px 100px;
  height: 500px;
  background-color: lightskyblue;
}

.centered {
  text-align: center;
  font-size: 60px;
}

.main h4 {
  margin: 10px 0;

}

.main table {
  margin: 0px auto;
}

.main .pemisah {
  padding: 0 30px;
  text-align: center;
}



.contact {
  padding: 150px 100px;
  height: 400px;
  background-color: lightseagreen;
  
}

.contact a {
  display: block;
  text-decoration:none;
  color: bisque;
  margin: 15px 0;
  font-size: 30px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.footer {
  text-align: center;
  padding: 25px 100px;
  background-color: #464a4a;
}
.footer small {
  color: wheat;
}

/* Body End */


/* Oleo Scrip Style */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v8/rax5HieDvtMOe0iICsUccChTu0_g8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v8/rax5HieDvtMOe0iICsUccChdu08.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}